beautifulsoup4==4.6.0
Flask==1.1.2
Flask-Admin==1.5.3
Flask-AppBuilder==3.3.4
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.3.3
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SocketIO==2.9.2
Flask-SQLAlchemy==2.3.2
flask-swagger==0.2.13
Flask-WTF==0.14.2
freezegun==0.3.11
funcsigs==1.0.0
future==0.16.0
gensim==3.4.0
gevent==1.4.0
gitdb2==2.0.5
GitPython==2.1.11
heapdict==1.0.0
hmsclient==0.1.1
html2text==2018.1.9
html5lib==1.0.1
mujoco-py==1.50.1.59
mysqlclient==1.4.2.post1
nltk==3.5.0
numpy==1.12.1
pandas==0.23.3
pickleshare==0.7.4
pinyin==0.4.0
plotly==2.0.15
python-dateutil==2.6.1
python-editor==1.0.4
python-engineio==3.12.1
python-jose==2.0.2
python-nvd3==0.15.0
python-slugify==3.0.2
python-socketio==1.8.4
python-speech-features==0.6
python3-openid==3.1.0
pytz==2017.3
pytzdata==2018.9
PyWavelets==0.5.2
pywinrm==0.3.0
PyYAML==5.3.1
pyzmq==17.1.2
rednose==1.3.0
requests==2.21.0
requests-mock==1.5.2
requests-ntlm==1.1.0
requests-oauthlib==0.8.0
requests-toolbelt==0.9.1
resampy==0.2.0
responses==0.10.6
rsa==3.4.2
ruamel-yaml==0.11.14
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8.1
SQLAlchemy==1.3.16
sqlparse==0.3.0
